{% extends "base.html" %}

{% block title %}
    <title>Відновіть ваш пароль</title>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <h1>Відновіть ваш пароль</h1>
    {% if validlink %}
        <p>Будь-ласка введіть двічі ваш новий пароль:</p>
        <form method='post'>
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn-success" value="Change my password">Змінити пароль</button>
        </form>
    {% else %}
        <p>Посилання на відновлення пароля було хибним. Можливо, томущо воно вже було використане.
           Будь-ласка зробіть ще один запит на відновлення пароля.</p>
    {% endif %}
{% endblock%}