{% extends "base.html" %}

{% block title %}
    База українських кріейтерів
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Оберіть що вас цікавить:</h2>
    <form method="post" action="{% url 'youtuber_list' %}">
        {% csrf_token %}
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <input type="checkbox" name="categories" value="{{ category.id }}"> {{ category.name }}
                </li>
            {% empty %}
                <li class="list-group-item list-group-item-no-categories">No categories available.</li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary">Пошук</button>
    </form>
</div>
{% endblock %}