{% load thumbnail %}

{% if user.is_authenticated %}
<div class="user-info">
    {% load thumbnail %}
    <p>
        Ви ввійшли як
        {% thumbnail user.profile.image 20x20 crop="center" as im %}
        <img src="{{ im.url }}" class="image-detail">
        <a class="username" href="/profile">{{ user.username }}</a>
    </p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Вийти</button>
    </form>
</div>
{% else %}
<p>Не маєш акаунта? <a href="{% url 'sign_up' %}">Реєструйся!</a>!</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <a href="{% url 'login' %}" class="btn btn-success">Увійти</a>
</form>
{% endif %}